<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="icon.png" />

    <title>ChatPapo</title> <!-- COLOCAR também no Título o Nome da sala !! -->
</head>

<body>
    <div class="chat-container">
        <header class="chat-header">
            <h1 class="light-color"><i class="fa fa-thin fa-comments"></i> ChatPapo</h1>
            <a href="/logout" class="btn">Sair da sala</a>
        </header>
        <main class="chat-main">
            <div class="chat-sidebar">
                <h3 class="light-color"><i class="fa-solid fa-house"></i> Nome da sala:</h3>
                <h2 class="light-color" id="room-name">
                    <%- room %>
                </h2>
                <h3 class="light-color"><i class="fas fa-users"></i> Usuários na conversa</h3>
                <div class="light-color">
                    <ul id="users">
                        <li>
                            <%- username %> - Você
                        </li>
                    </ul>
                    <ul id="users">
                        <li>
                            Outros usuários EJS
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-messages">
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Nome usuário logado EJS <span>Horas pelo EJS</span></p>
                    <p class="text">
                        Mensagem digitada pelo usuário EJS
                    </p>
                </div>
            </div>
        </main>
        <div class="chat-form-container">
            <form id="chat-form">
                <input id="msg" type="text" class="input-color" placeholder="Digite sua mensagem..." required
                    autocomplete="off" />
                <button class="btn"><i class="fas fa-paper-plane"></i> Enviar</button>
            </form>
        </div>
    </div>
</body>

<script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
    integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
    crossorigin="anonymous"></script>
<script src="scripts/chat.js"></script>

</html>